{% extends 'layouts/index.html' %}

{% block product %}
    <div class="product">
         {% for productos in product %}
             <div class="card" style="width: 20%;">
  <img src="/media/{{ productos.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ productos.title }}</h5>
    <p class="card-text">Name: {{ productos.compound }}</p>
      {% for categories in productos.connection.all %}
          <p>{{ categories.kind_food }}</p>
          <p>{{ categories.count }}</p>
       {% endfor %}
      {% for review in productos.connection_review.all %}
           <p>Nickname: {{ review.nickname }}</p>
           <p>Comment: {{ review.comment }}</p>
      {% endfor %}
    <a href="/products/{{ productos.id }}/" class="btn btn-primary">More product</a>
  </div>
</div>
         {% endfor %}

    </div>


{% endblock %}